@import "../variables/color.scss";

/*Posts style*/
.post-background {
  background-color: $lightPurple;
  color: $white;
  padding: 30px;
  border-radius: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.post-image img {
  width: 100px;
}
.post-date-p {
  font-weight: bold;
}
.post-text-p {
  font-weight: 100;
  font-size: 1.2rem;
}
