@import "../variables/color.scss";

.profile-content {
  color: $purple;
}
.profile-content button {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.profile-content img {
  width: 200px;
  border: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.profile-content h4 {
  font-weight: bold;
}
.follow-h4 {
  padding-right: 10px;
}

.posts-div-h4 h4 {
  font-weight: bold;
  color: $purple;
}
